{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
 <div class="text-center">
  <img src="{% static 'core/images/nik.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div>
 <div class="mt-5 text-white mx-5 text-justify">
  <h1 class="font-weight-bold st-font">Hello,</h1>
  <div class="px-4" style="line-height:2rem;">
   <p style="text-indent:100px;"> I am <b class="text-warning">Nikhil Nanekar,</b> I love coding, doing research and collaborating</p>
   <p>Since earning my bachelor’s degree in Electronics and telecomunication branch from Savitribai phule  University pune , I have served as a web developer at <b class="text-warning">oneworldlearner Technology</b>, one of biggest premier digital marketing and web development firm. In this position, I have led some technical knowledge about web development </p>
   <p> As  a fresher, I will be more dedicated with my work which I adapt and also hard working. I had a dream to work with a successful and reputed company. So as a fresher it's a great opportunity for me to start my career with your company. And I should get one chance to serve our company. </p>
  </div>
 </div>
 <div class="text-center">
  <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
  <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
 </div>
</div>
{% endblock content %}